
.slick-arrow.slick-prev{
position: absolute;
z-index: 10;
left: 410px;
background-color: black;
}

.slick-arrow.slick-next{
position: absolute;
z-index: 10;
left: 1380px;
background-color: black;
}

.js-c {
position: relative;
left: 410px;

}
.Slider{
position: relative;
top: 100px;
left: 80px;
}
