 .JavaScript, .price1{
    position: absolute;
  left: 30%;
}



 .JavaScript {
  position: absolute;
 bottom: 40%;

}
 .JS{
    position: absolute;
    bottom: 76%;
    left: 1%;
  }
   .price1{
    position: absolute;
    bottom: 50%;
  } 
  .product-card1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(254, 254, 254);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    bottom: 50%;
    left: 30%;
  }
  